.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding-right: 10px;
}

.drawer {
    border: none;
}

.drawer-header {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 16px;
    height: 150px;
}

.drawer-header-content {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.navigation {
    display: flex;
    flex-grow: 1;
}

.page-content {
    padding: 30px;
    margin: 0 auto;
}

.material-icons {
    color: rgba(0,0,0,.5);
}

.navigation .mdl-navigation__link .material-icons {
    font-size: 24px;
    margin-right: 32px;
}

.layout .navigation .mdl-navigation__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(255, 255, 255, 0.56);
    font-weight: 500;
}

.layout .navigation .mdl-navigation__link:hover {
    background-color: #00BCD4;
    color: #37474F;
}
