@import helper._
@import com.gu.pandomainauth.model.User
@(user: User)(implicit request: RequestHeader)

@main(user, "Choose a file to upload") {
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">

            @helper.form(action = routes.Application.uploadFile,
                'enctype -> "multipart/form-data", 'class -> "file-chooser") {
                @CSRF.formField

                <div class="dz-default dz-message">
                    <h2>Click or drop files here to upload</h2>
                </div>
            }

        </div>
    </div>
    <script src="@routes.Assets.at("js/node_modules/dropzone/dist/min/dropzone.min.js")"></script>
    <script src="@routes.Assets.at("js/upload.js")"></script>
}
