@import com.gu.pandomainauth.model.User
@(user: User)

@main(user, "Choose a file to upload") {
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <h1>Choose a file to upload</h1>

            <form action="@routes.Application.upload" method="post" enctype="multipart/form-data">
                <input id="fileChooser" type="file" name="files" required hidden>

                <button type="button" class="file-choose-button mdl-button mdl-js-button mdl-button--fab"
                        onclick="document.getElementById('fileChooser').click()">
                    <i class="material-icons">search</i>
                </button>

                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit">
                    Upload
                </button>
            </form>
        </div>

    </div>
}
