@import lib.S3UploadResponse
@import com.gu.pandomainauth.model.User
@import lib.S3UploadSuccess
@import lib.S3UploadFailure
@(user: User, s3Uploads: Seq[S3UploadResponse])(implicit request: RequestHeader)

@main(user, "File Uploaded") {
    <div class="results">
        <h3>Upload Results</h3>
        @s3Uploads.map {
            case S3UploadSuccess(url, fileName, msg) => {
                <p class="upload success">
                    Vanity URL <a href="@url">@url</a>
                </p>
                <p class="success">Successfully Uploaded!</p>


            }
            case S3UploadFailure(None, fileName, msg) => {
                <p class="upload failure">
                    @fileName
                </p>
                <p class="failure">
                   Failed To Upload
                </p>
                <p>
                    Reason:
                    <b>
                    @msg
                    </b>
                </p>

            }
        }
    </div>
}
