# Find full documentation here https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions
name: CI

on:
  pull_request:

  # Manual invocation.
  workflow_dispatch:

  push:
    branches:
      - main
jobs:
  CI:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      pull-requests: write

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: guardian/setup-scala@v1

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: '.nvmrc'
          cache: npm
          cache-dependency-path: 'public/js/package-lock.json'

      - name: Install NPM dependencies
        run: npm ci
        working-directory: public/js

      - name: SBT
        run: sbt "clean;compile;Debian / packageBin"

      # Make the filename produced by SBT easier.
      # TODO find out how to do this within `build.sbt`
      - name: Rename debian artifact
        run: mv target/s3-uploader_1.0_all.deb target/s3-uploader.deb

      - uses: guardian/actions-riff-raff@v4
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          roleArn: ${{ secrets.GU_RIFF_RAFF_ROLE_ARN }}
          projectName: media-service::s3-uploader
          buildNumberOffset: 159
          configPath: conf/riff-raff.yaml
          contentDirectories: |
            s3-uploader:
              - target/s3-uploader.deb
